.container {
  /*width: 80vw;*/
  margin: 1% auto;
  background-color: rgba(128, 128, 128, 0.03);
  height: auto;
  padding-bottom: 3%;
}
.h1 {
  font-size: 180%;
  font-weight: normal;
}
.h2 {
  font-size: 120%;
  font-weight: 400;
}
.header {
  text-align: center;
   margin: 2% auto;
  padding-top: 2%;
}
#input {
  margin: 0 auto;
}
#textarea {
  outline: none;
}
#preview {
  margin: 0 auto;
  padding-left: 3%;
  background-color: white;
  border: 1px solid rgba(178, 168, 168, 0.32);
  border-radius: 5px;
  height: 450px;
  overflow: scroll;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1b1918;
  color: #a8a19f;
  padding: 0.5em;
}
.hljs-function .hljs-params {
  color: rgba(46, 94, 226, 0.61);
}
.hljs-keyword, .hljs-operator {
  color: #e32bdc;
}
.hljs-title, .hljs-number {
  color: #2db27f;
}
.hljs-comment, .hljs-quote {
  color: #b18eb1;
  font-style: italic;
}

